body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-khmer: Khmer;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-17xl: 36px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-black: #000;
}
